In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [3]:
#import io
test_set = pd.read_csv('/content/drive/MyDrive/mlproject/application_test.csv')
train_set = pd.read_csv('/content/drive/MyDrive/mlproject/application_train.csv')
bur = pd.read_csv('/content/drive/MyDrive/mlproject/bureau.csv')
bur_bal = pd.read_csv('/content/drive/MyDrive/mlproject/bureau_balance.csv')
cr_card_bal = pd.read_csv('/content/drive/MyDrive/mlproject/credit_card_balance.csv')
#hcr = pd.read_csv('/content/drive/MyDrive/mlproject/HomeCredit_columns_description.csv', encoding='ISO-8859-1')
inst = pd.read_csv('/content/drive/MyDrive/mlproject/installments_payments.csv')
#POS = pd.read_csv('/content/drive/MyDrive/mlproject/installments_payments.csv')
prev = pd.read_csv('/content/drive/MyDrive/mlproject/previous_application.csv')
#samp = pd.read_csv('/content/drive/MyDrive/mlproject/sample_submission.csv')

In [4]:
bur.sample(2)

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
332561,193235,5064455,Closed,currency 1,-2274,0,-1909.0,-1909.0,0.0,0,46822.5,0.0,0.000,0.0,Consumer credit,-1533,NaN
319124,213028,6069744,Active,currency 1,-275,0,NaN,NaN,0.0,0,112500.0,31279.5,81216.855,0.0,Credit card,-24,NaN

In [5]:
bur.nunique()

SK_ID_CURR                 305811
SK_ID_BUREAU              1716428
CREDIT_ACTIVE                   4
CREDIT_CURRENCY                 4
DAYS_CREDIT                  2923
CREDIT_DAY_OVERDUE            942
DAYS_CREDIT_ENDDATE         14096
DAYS_ENDDATE_FACT            2917
AMT_CREDIT_MAX_OVERDUE      68251
CNT_CREDIT_PROLONG             10
AMT_CREDIT_SUM             236708
AMT_CREDIT_SUM_DEBT        226537
AMT_CREDIT_SUM_LIMIT        51726
AMT_CREDIT_SUM_OVERDUE       1616
CREDIT_TYPE                    15
DAYS_CREDIT_UPDATE           2982
AMT_ANNUITY                 40321
dtype: int64

In [6]:
# Merging Bureau data with Bureau_balance data using "SK_BUREAU" coloumn as the reference 
bur_joined = pd.merge(bur, bur_bal, on ='SK_ID_BUREAU', how ='inner')

In [7]:
bur_joined.sample(2)

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY,MONTHS_BALANCE,STATUS
16063896,139291,6216821,Closed,currency 1,-1729,0,-1093.0,-1093.0,NaN,0,176850.0,0.0,NaN,0.0,Consumer credit,-1088,0.0,-35,C
17547978,261546,5952337,Closed,currency 1,-1188,0,-949.0,-949.0,0.0,0,135000.0,0.0,0.0,0.0,Consumer credit,-764,NaN,-8,C

In [8]:
bur_joined.columns

Index(['SK_ID_CURR', 'SK_ID_BUREAU', 'CREDIT_ACTIVE', 'CREDIT_CURRENCY',
       'DAYS_CREDIT', 'CREDIT_DAY_OVERDUE', 'DAYS_CREDIT_ENDDATE',
       'DAYS_ENDDATE_FACT', 'AMT_CREDIT_MAX_OVERDUE', 'CNT_CREDIT_PROLONG',
       'AMT_CREDIT_SUM', 'AMT_CREDIT_SUM_DEBT', 'AMT_CREDIT_SUM_LIMIT',
       'AMT_CREDIT_SUM_OVERDUE', 'CREDIT_TYPE', 'DAYS_CREDIT_UPDATE',
       'AMT_ANNUITY', 'MONTHS_BALANCE', 'STATUS'],
      dtype='object')

In [9]:
# Taking only subset of columns from the combined Bureau data 
bur_joined_1 = bur_joined[['SK_ID_CURR','AMT_CREDIT_MAX_OVERDUE', 'CNT_CREDIT_PROLONG','AMT_CREDIT_SUM', 'AMT_CREDIT_SUM_DEBT', 'AMT_CREDIT_SUM_OVERDUE','MONTHS_BALANCE' ]]

In [10]:
# Using Groupby to find the Sum of values per id (SK_ID_CURR)
bur_joined_agg = bur_joined_1.groupby('SK_ID_CURR').sum().reset_index()

In [11]:
bur_joined_agg.nunique()

SK_ID_CURR                134542
AMT_CREDIT_MAX_OVERDUE     30195
CNT_CREDIT_PROLONG           191
AMT_CREDIT_SUM            122407
AMT_CREDIT_SUM_DEBT        94966
AMT_CREDIT_SUM_OVERDUE      1273
MONTHS_BALANCE             20956
dtype: int64

In [21]:
# bur_joined_agg can be used with the oher data sets . the following are first few rows 
bur_joined_agg.head(5)

,SK_ID_CURR,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_OVERDUE,MONTHS_BALANCE
0,100001,0.00,0,2.778080e+07,4109728.5,0.0,-2800
1,100002,73472.58,0,1.225277e+07,3932496.0,0.0,-2701
2,100005,0.00,0,3.693978e+06,2791399.5,0.0,-91
3,100010,0.00,0,3.564000e+07,12528270.0,0.0,-3312
4,100013,1274130.00,0,1.224821e+08,0.0,0.0,-6756

In [13]:
#Looking at Previous balance 
prev.head(2)

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,...,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,2030495,271877,Consumer loans,1730.430,17145.0,17145.0,0.0,17145.0,SATURDAY,15,...,Connectivity,12.0,middle,POS mobile with interest,365243.0,-42.0,300.0,-42.0,-37.0,0.0
1,2802425,108129,Cash loans,25188.615,607500.0,679671.0,NaN,607500.0,THURSDAY,11,...,XNA,36.0,low_action,Cash X-Sell: low,365243.0,-134.0,916.0,365243.0,365243.0,1.0

In [14]:
# Viewing credit card balence
cr_card_bal.head(2)

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,...,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,2562384,378907,-6,56.970,135000,0.0,877.5,0.0,877.5,1700.325,...,0.000,0.000,0.0,1,0.0,1.0,35.0,Active,0,0
1,2582071,363914,-1,63975.555,45000,2250.0,2250.0,0.0,0.0,2250.000,...,64875.555,64875.555,1.0,1,0.0,0.0,69.0,Active,0,0

(1716428, 17)

(817395, 1)